In [1]:
import pandas as pd

In [1]:
import yfinance as yf

In [2]:
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  2 of 2 completed

In [3]:
data

            Adj Close                  Close                   High  \
                 AAPL         SPY       AAPL         SPY       AAPL
Date
2017-01-03  27.133329  202.085297  29.037500  225.240005  29.082500
2017-01-04  27.102959  203.287476  29.004999  226.580002  29.127501
2017-01-05  27.240786  203.126022  29.152500  226.399994  29.215000
2017-01-06  27.544476  203.852798  29.477501  227.210007  29.540001
2017-01-09  27.796762  203.179855  29.747499  226.460007  29.857500
...               ...         ...        ...         ...        ...
2017-04-24  33.700642  213.714569  35.910000  237.169998  35.987499
2017-04-25  33.909447  214.958099  36.132500  238.550003  36.224998
2017-04-26  33.710014  214.822937  35.919998  238.399994  36.150002
2017-04-27  33.735828  215.003159  35.947498  238.600006  36.040001
2017-04-28  33.702984  214.534592  35.912498  238.080002  36.075001

                              Low                   Open              \
                   SPY       AAPL         SPY       AAPL         SPY
Date
2017-01-03  225.830002  28.690001  223.880005  28.950001  225.039993
2017-01-04  226.750000  28.937500  225.610001  28.962500  225.619995
2017-01-05  226.580002  28.952499  225.479996  28.980000  226.270004
2017-01-06  227.750000  29.117500  225.899994  29.195000  226.529999
2017-01-09  227.070007  29.485001  226.419998  29.487499  226.910004
...                ...        ...         ...        ...         ...
2017-04-24  237.410004  35.794998  234.559998  35.875000  237.179993
2017-04-25  238.949997  35.967499  237.809998  35.977501  237.910004
2017-04-26  239.529999  35.845001  238.350006  36.117500  238.509995
2017-04-27  238.949997  35.827499  237.979996  35.980000  238.770004
2017-04-28  238.929993  35.817501  237.929993  36.022499  238.899994

               Volume
                 AAPL        SPY
Date
2017-01-03  115127600   91366500
2017-01-04   84472400   78744400
2017-01-05   88774400   78379000
2017-01-06  127007600   71559900
2017-01-09  134247600   46939700
...               ...        ...
2017-04-24   68537200  119209900
2017-04-25   75486000   76698300
2017-04-26   80164800   84702500
2017-04-27   56985200   57410300
2017-04-28   83441600   63532800

[81 rows x 12 columns]