In [1]:
#Initial imports
import pandas as pd
import numpy as np
import yfinance as yf
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import os

%matplotlib inline

In [2]:
#load .env environment variables
load_dotenv()

True

In [3]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [5]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [6]:
today = pd.Timestamp("2023-04-11", tz="America/New_York").isoformat()

In [11]:
tickers = ["AAPL"]

In [12]:
timeframe = "1Day"

In [13]:
#Get current closing prices for APPLE
df_portfolio = alpaca.get_bars(
    tickers,
    timeframe,
    start = today,
    end = today
  
).df

# Display sample data
df_portfolio

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2023-04-11 04:00:00+00:00,162.35,162.36,160.51,160.8,47793761,490480,161.128148,AAPL

In [10]:
df_portfolio.head()

Empty DataFrame
Columns: []
Index: []

In [24]:
data = yf.download(["SPY", "AAPL"], start="2022-01-01", end="2022-12-31")

[*********************100%***********************]  2 of 2 completed

In [ ]:
#Calculate daily average returns
closes = data['Adj Close']
spy_returns = closes.SPY.pct_change().dropna()
aapl_returns = closes.AAPL.pct_change().dropna()

In [ ]:
aapl_returns #This is a dataframe that shows the change of a stock price as a percent for 252 days in 2022

In [ ]:
closes #This dataframe shows the closing price of Apple stocks compared to the S&P500

In [ ]:
#sortino_ratio=(averaged_realized_returns-required_rate_of_return)/target_downside_deviation

In [ ]:

### Calculate Standard Deviations
daily_std_all_portfolios_df= all_portfolios_df.std()

Calculate the Annualized Standard Deviation
annualized_std_all_portfolios= all_portfolios_cumulative_ret.std() * np.sqrt(252)
annualized_std_all_portfolios

In [ ]:
annualized_sharpe_ratios = (all_portfolios_df.mean() * 252 / (all_portfolios_df.std() * np.sqrt(252))
                            
       create s dataframe with just the negative values - set up a condition that says that if the value of the column is less than equal to 0 then have it be zero.

In [ ]:
def sortino_ratio(series, N,rf):
    mean = series.mean() * N -rf
    std_neg = series[series<0].std()*np.sqrt(N)
    return mean/std_neg


sortinos = df.apply(sortino_ratio, args=(N,rf,), axis=0 )
sortinos.plot.bar()
plt.ylabel('Sortino Ratio')